asgiref==3.8.1
Django==5.0.6
django-appconf==1.0.6
django-image-cropping==1.7
django-imagekit==5.0.0
django-livereload-server==0.5.1
djangorestframework==3.15.1
easy-thumbnails==2.8.5
pilkit==3.0
pillow==10.3.0
sqlparse==0.5.0
tornado==6.4
tzdata==2024.1
