<!-- footer.html -->
<footer class="footer-bottom">
    <div class="social">
        {% load static %}
        <a href="#" target="_blank">
            <i class="fas fa-camera fa-lg"></i>
        </a>
    </div>
    <div class="separator"></div>
    <p class="reserved">
        <span>All rights reserved</span>
        <br />
        <span>Web-development by Nyle | Server development by Mercy</span>
    </p>
    <div class="links">
        {% for item in navbar_items %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
    </div>
</footer>
