<!-- left_container.html -->
<div class="left-container">
    <div class="news-container">
        {% for article in articles %}
        <article class="news-article">
            <header class="header-title">
                <figure>
                    <img src="{{ article.thumbnail.url }}" alt="" />
                </figure>
                <h2>{{ article.title }}</h2>
                <br />
                <h3>{{ article.subtitle }}</h3>
                <p class="meta-data">
                    <span>{{ article.date }}</span>
                    <br />
                    <span>News & announcements | by <span>{{ article.author }}</span></span>
                </p>
            </header>
            <div class="text-content">
                <header class="text-header">
                    <h2>{{ article.title }}</h2>
                    <div class="line"></div>
                    <figure>
                        <img src="{{ article.image.url }}" alt="" />
                    </figure>
                </header>
                <p>{{ article.content|safe }}</p>
                <footer class="news-bottom">
                    <p>Posted by <span>{{ article.author }}</span>, {{ article.date }} {{ article.comments_count }} comments</p>
                </footer>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
