<div class="left-container">
    <div class="news-container">
        {% for article in articles %}
        <article class="news-article {% if forloop.first %} active {% else %} closed {% endif %}">
            <header class="header-title">
                <figure>
                    <img src="{{ article.thumbnail.url }}" alt="" />
                </figure>
                <h2>{{ article.title }}</h2>
                <br />
                <h3>{{ article.subtitle }}</h3>
                <p class="meta-data">
                    <span>{{ article.date }}</span>
                    <br />
                    <span>News & announcements | by <span>{{ article.author }}</span></span>
                </p>
            </header>
            <div class="text-content">
                <header class="text-header">
                    <h2>{{ article.title }}</h2>
                    <div class="line"></div>
                    <figure>
                        <img src="{{ article.image.url }}" alt="" />
                    </figure>
                </header>
                <p class="article-content">{{ article.content|safe }}</p>
                <footer class="news-bottom">
                    <p>Posted by <span>{{ article.author }}</span>, {{ article.date }} {{ article.comments_count }} comments</p>
                </footer>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
<aside class="right-container">
    <div class="side-block">
        <header class="small-header">
            <h2>Login</h2>
        </header>
        <form method="post" action="{% url 'login' %}" class="login-form" autocomplete="on">
            {% csrf_token %}
            <fieldset>
                <div class="mb-3">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autocomplete="username">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" id="password" class="form-control" placeholder="•••••••••••••" required autocomplete="current-password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                    <label class="form-check-label" for="remember_me">Remember me</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" style="background-color: #262427; border-color: #262427;">Sign in</button>
                </div>
            </fieldset>
        </form>
    </div>
</aside>