<aside class="right-container">
    <div class="side-block">
        <header class="small-header">
            <h2>Login</h2>
        </header>
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="•••••••••••••" />
            <footer>
                <input type="submit" value="Sign in" class="button" />
                <a href="#" class="button button-purple">Sign up</a>
                <div class="remember">
                    <div class="checkbox-group">
                        <input type="checkbox" id="remember_me" class="hidden" />
                        <label for="remember_me"></label>
                    </div>
                    <span>Remember me</span>
                </div>
            </footer>
        </form>
    </div>
    <div class="advertisement"></div>
</aside>
