@import url(styles/reset.css);
@import url(styles/font-awesome.min.css);
@import url(styles/main_content.css);

@import url(https://db.onlinewebfonts.com/c/f1cfb0d208038e21ad90267089ab2584?family=Felix+Titling+V2);
@import url(https://db.onlinewebfonts.com/c/f929174bda22c1821db22ab9760b082a?family=Baskerville);



html {
    min-width: 1080px;
}

body {
    background: #000 url(../images/background.jpg) center top no-repeat;
    /* padding-bottom: 20px; */
    max-width: 995px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

a {
    color: #955DA3;
}

.container {
    max-width: 1070px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    /* margin: 0 auto; */
}

.header-top {
    height: 226px;
    padding-top: 79px;
    text-align: center;
}

.navigation {
    background: url(../images/navigation.jpg) no-repeat;
    width: 996px;
    height: 69px;
    margin: 0px;
    display: table;
    position: relative;
    z-index: 100;
    /* padding: 0 20px 0 6px; */
}

.navigation .navigation-item {
    font: normal normal 19px 'Baskerville', serif;
    color: #DDD;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 1px #383838, 0 0 1px rgba(255, 255, 255, 0.2);
    padding: 12px 10px 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0.9;
}

.navigation .navigation-item.play {
    width: 244px;
    height: 69px;
    position: relative;
    top: -2px;
    padding-top: 0;
    opacity: 1;
}

.navigation .navigation-item.play:after {
    background: url(../images/play_hover.png) no-repeat;
    width: 495px;
    height: 224px;
    position: absolute;
    top: 0;
    margin: 0 auto 0 -124px;
    content: '';
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.navigation .navigation-item.play:hover:after {
    opacity: 0.6;
}

.navigation .navigation-item.play > span {
    background: url(../images/play.png) no-repeat;
    width: 244px;
    height: 69px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 26px;
    display: block;
    padding-top: 26px;
    opacity: 0.9;
}

.navigation .navigation-item.play > span > span {
    position: relative;
    z-index: 100;
}

.slide-side {
    float: left;
}

/* .slide-div {
    width: 275px;
    height: 300px;
    background: rgba(76, 175, 80, 0.3);
} */

.slide-side .slide-action {
    background: url(../images/slide_side.jpg) no-repeat;
    width: 276px;
    height: 77px;
    display: block;
    padding: 14px 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: padding-left 300ms ease;
    -moz-transition: padding-left 300ms ease;
    -ms-transition: padding-left 300ms ease;
    -o-transition: padding-left 300ms ease;
    transition: padding-left 300ms ease;
}

.slide-side .slide-action:hover {
    padding-left: 20px;
}

.slide-side .slide-action figure {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
}

.slide-side .slide-action .text-content {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0 0 6px;
}

.slide-side .slide-action h2 {
    font-size: 14px;
    color: #BF8D20;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.slide-side .slide-action h3 {
    font-size: 11px;
    color: #DDD;
    text-transform: uppercase;
}

.container .container.clear-fix.slider-wrap {
    background: rgba(0, 0, 0, 0.6);
}

.slider-container {
    background: url(../images/slider.jpg) no-repeat;
    width: 715px;
    height: 308px;
    float: left;
    margin-left: 2px;
    padding: 5px;
}

.slides {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.slides .slide {
    position: relative;
    display: inline-block;
}

.slides .slide:first-child {
    -webkit-transition: margin-left 500ms ease-in-out;
    -moz-transition: margin-left 500ms ease-in-out;
    -o-transition: margin-left 500ms ease-in-out;
    -ms-transition: margin-left 500ms ease-in-out;
    transition: margin-left 500ms ease-in-out;
}

.slides .slide .text-content {
    position: absolute;
    left: 18px;
    bottom: 10px;
}

.slides .slide .text-content h2 {
    font-size: 22px;
    color: #BF8D20;
    text-transform: uppercase;
}

.slides .slide .text-content h3 {
    font-size: 15px;
    color: #DDD;
    text-transform: uppercase;
}

.pxg-set, .pxg-set s {
    width: 100% !important;
}

.notice-container {
    background: #0f0f0f;
}

.notice {
    background: url(../images/notice.jpg) no-repeat;
    width: 991px;
    height: 38px;
    margin: 0px;
    padding: 8px 9px;
}

.notice .notice-icon {
    background: #090909;
    color: #68567F;
    width: 32px;
    height: 23px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font: bold normal 18px Arial;
    padding-top: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.notice span {
    font: normal normal 11px Arial;
    color: #757575;
    padding-left: 6px;
    position: relative;
    top: -2px;
}

.thumbnail-container {
    background: #0D0D0D;
    text-align: center;
    margin: 0px;
    /* padding: 2px 0; */
    width: 991px;
}

.thumbnail-container figure {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.thumbnail-container figure:after, .news-article .text-content .text-header figure:after, .header-title figure:after {
    box-shadow: inset 0 0 12px 5px rgba(0, 0, 0, 0.73);
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    content: '';
    display: block;
}

.footer-bottom {
    background: url(../images/footer.png) no-repeat;
    width: 996px;
    height: 100px;
    margin: 0px auto;
    padding: 0px;
    font: normal normal 11px Calibri, Arial, sans-serif;
    color: #877A8D;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    display: block;
}

/* .social {
    margin-top: -1px;
    padding-left: 20px;
} */

.social img {
    margin: 0 -15px;
}

.footer-bottom .separator {
    background: #5A475F;
    height: 2px;
    border-bottom: 1px solid #161516;
    width: 200px;
    margin: -4px 0 6px 22px;
}

.footer-bottom .reserved {
    padding-left: 22px;
}

.footer-bottom .reserved a:hover {
    text-decoration: underline;
}

.footer-bottom .links {
    position: absolute;
    right: 20px;
    bottom: 14px;
}

.footer-bottom .links a {
    margin: 0 12px;
    color: #877A8D;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -ms-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.footer-bottom .list-inline-item a {
    color: #877A8D;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.footer-bottom .links a:hover {
    color: #BD94D0;
}