<!-- change_form.html -->
{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.css" rel="stylesheet">
{% endblock %}

{% block after_field_sets %}
    <div class="preview-container">
        <img id="image-preview" style="max-width: 100%;" />
        <button id="crop-button" class="button">Crop</button>
    </div>
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .preview-container {
            margin-top: 20px;
        }
        .img-preview {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block extrafoot %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.js"></script>
    <script src="{% static 'js/image_preview.js' %}"></script>
{% endblock %}
